%table.cue-sheet
  %tbody.cue-row
    - @cue_sheet.cues.in_groups_of(3, false).each do |cues|
      %tr
        - cues.each do |cue|
          %td.cue{class: ('pc' if cue.pc?)}
            .header
              %span= cue.estimate_time.strftime('%H:%M')
              %span.no= cue.no
            .content
              .roads
                - if cue.roads && !cue.start?
                  %span.block-distance
                    #{cue.block_distance_to_here.to_f}km先
                  %span.roads-to-here
                    (#{cue.roads_to_here.map {|r| "#{r}〜"}.join})
                - else
                  START!

              %span.point
                %span.point-desc
                  - if cue.point.as_is
                    = cue.point.as_is
                  - else
                    %img{src: '/signal.svg', width: 16, height: 16}
                    - if cue.point.signal_name
                      #{"[#{cue.point.signal_name}]"}
                = cue.direction
                - cue.road_to.try! do |next_road|
                  #{next_road}に
              - if cue.other
                %span.other
                  = cue.other
